@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
body {
    font-family: "Lato", sans-serif;
  }


  label{
    margin-left: 30%;
  }
  
  input[type=submit]:hover {
    background-color: #F5A623;
    
  }
  
  .createForm{
    vertical-align: top;
    align-items: center;
  }

label {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 600;
}



.title {
  margin-top: 100px;
  padding-top: 100px;
}


.inputText {
  margin-top: 100px;
}