@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.mainNav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.navBrand {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 .5rem;
}

.navbar {
    height: 100%;
    width: 18%;  
    position: fixed; 
    top: 0; 
    left: 0; 
    //background-color:#12192C; 
    background-color: #262B40;
    padding: 1.25rem .5rem 2rem;
    transition: .5s;
    font-weight: 600;
    color: white;
    font-size: 1rem;

    a {
        color: white;
        text-decoration: none;
        font-size: .875rem;
        text-align: left;
        align-items: left;
        padding: .5rem;
        margin-bottom: 1rem;
        border-radius: 25px;
        width: calc(var(92px) + 9.25rem);
        font-family: 'Nunito Sans', sans-serif;  
        
    }

    .section{
        color: white;
        display: flex;
        margin-bottom: 1rem;
        border-radius: .5rem;
        transition: .3s;
    }

    .section1 {
        color: white;
        display: flex;
        align-items: center;
        padding: .5rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
        transition: .3s;
        font-size: 1.2rem;
        border-left: 10px;
    }

    .section:hover {
        background-color:#4A5073;
        transition: .3s;
        cursor: pointer;
    }
    .grid {
        width: 10%;
        color: white;
        margin-right: 10px;
        grid-template-columns: max-content max-content;
        filter:  brightness(0) invert(1); 
    }
   
}

