@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1.25rem .5rem 2rem;
  background-color: #262B40;
}

.sidebar a {
  padding: .5rem;
  text-decoration: none;
  font-size: .875rem;
  color: white;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 1rem;
  border-radius: 25pxpx;
  width: calc(var(92px) + 9.25rem);
  font-family: 'Nunito Sans', sans-serif;
  padding: .5rem;
}

.sidebar a:hover {
  background-color: #F5A623;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.grid {
  width: 10%;
  color: white;
  margin-right: 10px;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.section {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.3rem;
  border-radius: .25rem;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 0.75rem;
}

.section1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
  border-left: 10px;
}

.navName {
  font-size: 0.8rem;
}

body {
  background-color: #EDEDED;
}

.table {
  width: 80%;
  height: 200px;
  float: right;
}

.userTable {
  margin-top: 0%;
}

.div-item-1 {
  float: left;
  width: 40%;
}

.heading {
  font-size: 12px;
}

.topnav {
  overflow: hidden;
  background-color: #262B40;
  float: right;
  margin-top: 0 px;
  width: 81%;
  z-index: 100;
  border-top: 0;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F5A623;;
  color: black;
}

.topnav a.active {
  background-color: #262B40;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.part1 {
  margin-left: 0px;
  font-size: 12px;
  float: left;
  width: 49%;
  margin-right: 2%;
}

.part2 {
  margin-left: 20px;
  font-size: 12px;
  float: left;
  width: 49%;
  margin-right: 2%;
}
/*# sourceMappingURL=main.css.map */