

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    //border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 80vh;
  }
  
  .grid-item1{
    background-color:#111;
  }

  .main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 18%;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    height: 90%;
    bottom: 0;
    margin-top: 0;
  }

  .table {
    width: 1000px;
  }

  .container {
    height: 90vh;
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "header"
                         "footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  
  .cell-1 {
    background: deepskyblue;
    grid-area: header;
    margin-left:20%;
    border: 10px solid black;
  }
  .cell-2 {
    background: white;
    grid-area: footer;
    margin-left:20%;
    border: 10px solid black;
  }
  
  .cell {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem;
  }

  
  .custom-select1 {
    height: 30%;
    width: 50%;    
  }
  .custom-select2 {
    height: 30%;
    width: 50%;
  }
  .assignButton {
    height: 20%;
    width: 20%;
  }

  .label1 {
    margin-left: 50%;
  }

  .select1{
    margin-left: 50%;
    width: 100%;
  }

  .label2{
    margin-left: 50%;
  }

  .select2{
    margin-left: 50%;
    width: 100%;
  }


  .assignButton{
    margin-left: 40%;
    width: 20%;
    height: 10%;
  }
