body {
    font-family: Arial;
    color:black;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    margin-left: 5%;
  }
  
  .right {
    right: 0;
    margin-right: 10%;
  }
  
  .centered1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered2 {
    margin-top: 100px;
    margin-left: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .centered img {
    width: 150px;
    border-radius: 50%;
  }