.ticketsTable{
   margin: 0; 
}

.assignedPersonnel{
float: left;
margin-right: 10px;
margin-left: 0px;
}

.main{
    margin: 0px;
    float: center;
}

.firstDiv {
    margin-left: 60px;
}

.secondMain{
    margin-left: 0;
}

.bottomDiv{
    float: right;
    margin-right: 600px;
    margin-top:10px;
}