

body {
  font-family: Arial;
  color:black;
  background-color: #F4F3EF;
}

.row1{
  height:60vh;
  width: 60%;
  background-color: #F4F3EF;
  padding-bottom: 50%;
  margin-top: 10%;
}
.row2 {
height: 40vh;
width: 60%;
}

.container{
  height: 100vh;
  margin-left: 20%;
}