.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}
.styled-table thead tr {
    background-color: #36304A;
    color: #ffffff;
    text-align: left;
}

.styled-table th{
    padding: 12px 15px;
    font-weight: normal;
}
.styled-table td {
    padding: 12px 15px;
    font-weight: normal;
    color: #666666;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid black;
}

.styled-table tbody tr.active-row {
    font-weight: normal;
    color: #666666;
}

	/* Define the hover highlight color for the table row */
.styled-table tr:hover {
    background-color: #F2F2F2;
}
